/*! INITIALIZE STYLE */
::-moz-selection{background:#b3d4fc;text-shadow:none}
::selection{background:#b3d4fc;text-shadow:none}

img{vertical-align:middle; border:0;}
ol, ul, li, dl, dt, dd { list-style: none;}
h1,h2,h3 {padding:0; margin:0}
body, div,dl,dt,dd,ul,li,ol,p, figure {padding:0; margin:0}



.hidden{display:none;}
.acc-hidden {border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; line-height: 0; overflow: hidden; padding: 0; position: absolute;  width: 1px; visibility:hidden; font-size:0;  }

fieldset{padding:0; margin:0; border:0;}
input[type='text'],input[type='tel'], input[type='password'], textarea{-webkit-appearance:none; -webkit-border-radius:0; border-radius: 0; margin:0; padding:0; border:0; line-height:normal;}
button{-webkit-appearance:none;}
input[type='number']{-webkit-appearance:none; -webkit-border-radius:0; border-radius: 0;}
.fl{float:left;}
.fr{float:right;}
table{border-collapse:collapse;border-spacing:0}
.ui-loader{display:none;}
select{border-radius:none; -webkit-border-radius: 0; border: 0}
.cb{clear:both;}
a[href^=tel]{color: inherit}

